<section class="hero">
    <img src="../../../assets/img/main_bg2.jpg" alt="Imagen de Fondo Principal"
        style="width: 100%; height: calc(100vh - 3.75rem); object-fit: cover; transform: scaleX(-1); filter: brightness(0.5);">

    <div class="textHero">
        <h1 class="title">III
            Copa Sunbae <br> Taekwondo</h1>
        <p style="color: white; line-height: 1.5rem;">Participa en la III Copa Sunbae Taekwondo (Kyorugui y Poomsae) del 6 al 8 de septiembre
            en el Palacio de Combates 'Sugar Baby Rojas'. Competencia para categorías Infantil, Cadete, Junior,
            y Senior.</p>

            <div id="date-countdown" style="margin-top: 2rem;">
                <span class="countdown-block">
                  <span class="label">{{ timeRemaining.weeks }}</span> Semanas
                </span>
                <span class="countdown-block">
                  <span class="label">{{ timeRemaining.days }}</span> Dias
                </span>
                <span class="countdown-block">
                  <span class="label">{{ timeRemaining.hours }}</span> Horas
                </span>
                <span class="countdown-block">
                  <span class="label">{{ timeRemaining.minutes }}</span> Minutos
                </span>
                <span class="countdown-block">
                  <span class="label">{{ timeRemaining.seconds }}</span> Segundos
                </span>
              </div>
              
        <div style="margin-top: 2rem; display: flex; align-items: center; gap: 1rem;">
            <button (click)="navigate()"
                style="cursor: pointer; padding: 1rem 1.5rem; background-color: var(--primary); border: none; border-radius: 0.25rem;">
                <p style="color: white; font-weight: bold; margin: 0;">INSCRIBIRSE</p>
            </button>
            <p style="color: white; font-weight: bold;">Mas información</p>
        </div>
    </div>

    <div class="textHeroResponsive">
      <h1 class="title">III
        Copa Sunbae <br> Taekwondo</h1>
    <p style="color: white; line-height: 1.5rem;">Participa en la III Copa Sunbae Taekwondo (Kyorugui y Poomsae) del 6 al 8 de septiembre
        en el Palacio de Combates 'Sugar Baby Rojas'. Competencia para categorías Infantil, Cadete, Junior,
        y Senior.</p>
    </div>

</section>

<section class="heroResponsive">
  <img src="../../../assets/img/main_bg2.jpg" alt="Imagen de Fondo Principal"
      style="width: 100%; height: calc(100vh - 3.75rem); object-fit: cover; transform: scaleX(-1); filter: brightness(0.5);">

  <div class="textHero">
    <h1 class="title">III
      Copa Sunbae <br> Taekwondo</h1>
  <p style="color: white; line-height: 1.5rem;">Participa en la III Copa Sunbae Taekwondo (Kyorugui y Poomsae) del 6 al 8 de septiembre
      en el Palacio de Combates 'Sugar Baby Rojas'. Competencia para categorías Infantil, Cadete, Junior,
      y Senior.</p>
  </div>
</section>

<div style=" margin: 8rem 3rem;">
  <div nz-row [nzGutter]="[16, 12]">
        <div nz-col [nzLg]="{ span: 12}" [nzMd]="{span:12}" [nzXs]="{ span: 24}">
          <p style="margin-bottom: 2rem; font-size: 0.875rem; color: white; padding: 0.5rem; border-radius: 10px; background-color: var(--secondary); width: fit-content;">Sobre nosotros</p>
          <h1 style="color: #767c8c; width: fit-content; margin-bottom: 1rem;">Quienes somos <strong style="font-family: Mariott; margin-left: 6px; color: var(--primary);">nosotros</strong></h1>
          <p style="margin-bottom: 1rem;">Nuestra misión es fomentar el amor por este arte marcial coreano, proporcionando una enseñanza de calidad que inspire a nuestros estudiantes a superar sus propios límites.</p>
          <p>Contamos con sedes en Barranquilla, en el prestigioso Coliseo "Sugar Baby Rojas", y en Soledad, en la Cra 21A # 81A-75 B, Los Almendros, donde nuestros alumnos reciben la mejor preparación tanto en Kyorugui (combate) como en Poomsae (formas).</p>
        </div>
  
        <div nz-col [nzLg]="{ span: 12}" [nzMd]="{span:12}" [nzXs]="{ span: 24}" style="align-items: center; justify-content: center; display: flex; position: relative;">
          <div style=" background: linear-gradient(to right, var(--secondary), var(--primary)); border-radius: 10%; width: 400px; height: 400px;"></div>
          <img src="../../../assets/img/img1.webp" alt="" style="position: absolute; width: 18.75rem; height: 18.75rem; border-radius: 0.25rem; object-fit: cover; right: 3.125rem;">
        </div>
  </div>
</div>
