#date-countdown {
    font-size: 20px;
    display: flex;
    gap: 10px;
  }
  
  .countdown-block {
    // background-color: #f3f3f3;
    color: white;
    font-size: .8rem;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .label {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    display: block;
  }
  
  .title {
    font-family: Mariott; color: white; font-size: 3rem; line-height: 6rem; margin-bottom: 1.5rem;
  }

  .img-container {
    align-items: center; justify-content: center; display: flex; position: relative;
  }

  @media (max-width: 955px) {
    .title {
        font-size: 5vw;
    }
}

@media (max-width: 425px) {
  .img-container {
    display: none;
  }
}