<section style="display: flex; flex-direction: row; width: 100%;">
    <div (click)="navigateLader()" class="btn-image">
        <img src="../../../assets/img/menu1.jpg" alt="">
        <div class="btn-label">
            <span nz-icon nzType="rise" nzTheme="outline"></span>
            <label class="lbl">Tabla de Posiciones</label>
        </div>
    </div>
    <div (click)="navigateTorneo()" class="btn-image">
        <img src="../../../assets/img/menu2.jpg" alt="">
        <div class="btn-label">
            <label class="lbr">Torneo</label>
            <span nz-icon nzType="partition" nzTheme="outline"></span>
        </div>
    </div>
</section>