.active {
    font-weight: bold;
    color: green;
}

.desactive {
    font-weight: bold;
    color: red;
}

.title {
    font-family: Mariott; color: white; font-size: 4rem; line-height: 6rem; margin-bottom: 1.5rem
}

@media (max-width: 955px) {
    .title {
        font-size: 5vw;
    }
}
.scrollX{
    width: 100%;
    overflow-x: auto;
}
@media (max-width: 955px) {
    .title {
        font-size: 5vw;
    }

    nz-table {
        min-width: 1500px;
    }
}

