<section>
    <div style="width: 100%; height: 23.375rem; position: relative; display: flex; align-items: center; justify-content: center; text-align: center;">
    
        <img src="../../../assets/img/main_bg.jpg" alt="Imagen de Fondo Principal"
            style="width: 100%; height: 23.375rem; object-fit: cover; filter: brightness(0.5);">
    
        <div style="position: absolute;">
            <h1 style="font-family: Mariott; color: white; font-size: 4rem; line-height: 6rem; margin-bottom: 1.5rem;">
                Peleadores</h1>
                <p style="color: white;">Observa la lista completa de competidores en la III Copa Sunbae Taekwondo</p>
        </div>
    </div>
    <nz-table nzBordered #filterTable [nzData]="listOfData" nzTableLayout="fixed" [nzPageSize]="25">
        <thead>
          <tr>
            <th
              *ngFor="let column of listOfColumns"
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
            >
              {{ column.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of filterTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.club }}</td>
            <td>{{ data.genero }}</td>
            <td>{{ data.categoria }}</td>
            <td>{{ data.peso }}</td>
            <td>{{ data.modalidad }}</td>
          </tr>
        </tbody>
      </nz-table>
</section>

