<section>
    <div style="width: 100%; height: 23.375rem; position: relative; display: flex; align-items: center; justify-content: center; text-align: center;">
    
        <img src="../../../assets/img/main_bg.jpg" alt="Imagen de Fondo Principal"
            style="width: 100%; height: 23.375rem; object-fit: cover; filter: brightness(0.5);">
    
        <div style="position: absolute;">
            <h1 style="font-family: Mariott; color: white; font-size: 4rem; line-height: 6rem; margin-bottom: 1.5rem;">
                Peleadores</h1>
                <p style="color: white;">Observa la lista completa de competidores en la III Copa Sunbae Taekwondo</p>
        </div>
    </div>
    <form [formGroup]="form">
      <nz-input-group nzSize="large" [nzSuffix]="suffixIconSearch">
        <input formControlName="buscar" (keyup)="searchData()" type="text" nz-input placeholder="Ingresa el nombre, club, categoria, modalidad, etc, que deseas buscar" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </form>
    <nz-table nzBordered #basicTable [nzPageSize]="20" [nzData]="filteredData">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Años</th>
          <th>Club o Delegacion</th>
          <th>Genero</th>
          <th>Categoria</th>
          <th>Peso</th>
          <th>Modalidad</th>
        </tr>
      </thead>
      <tbody>
        @for (data of basicTable.data; track data) {
          <tr>
            <td>{{ data.nombre }} {{ data.apellido }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.club }}</td>
            <td>{{ data.sexo == 'F' ? 'Femenino' : 'Masculino' }}</td>
            <td>{{ data.categoria }}</td>
            <td>{{ data.peso }}</td>
            <td>{{ data.modalidad }}</td>
          </tr>
        }
      </tbody>
    </nz-table>
      <!-- nz-table nzBordered #headerTable [nzData]="listOfData" [nzPageSize]="50" [nzScroll]="{ y: '240px' }">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th nzWidth="100px">Age</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          @for (data of headerTable.data; track data) {
            <tr>
              <td>{{ data.name }}</td>
              <td>{{ data.age }}</td>
              <td>{{ data.address }}</td>
            </tr>
          }
        </tbody>
      </nz-table -->
</section>

