<section>
  <div style="width: 100%; height: 23.375rem; position: relative; display: flex; align-items: center; justify-content: center; text-align: center;">
    
    <img src="../../../assets/img/main_bg.jpg" alt="Imagen de Fondo Principal"
        style="width: 100%; height: 23.375rem; object-fit: cover; filter: brightness(0.5);">

    <div style="position: absolute;">
        <h1 style="font-family: Mariott; color: white; font-size: 4rem; line-height: 6rem; margin-bottom: 1.5rem;">
            Clasificaciones</h1>
            <p style="color: white;">Observa la tabla de posiciones de los competidores en la III Copa Sunbae Taekwondo</p>
    </div>
  </div>
  <div class="brackets-viewer"></div>
</section>