<div class="bracket" style="background-color: blueviolet;">
  <p>Torneo</p>
  <!-- <ng-container *ngIf="tournament">
    <div class="match">
      <div class="players">
        <div>{{ tournament.player1 }}</div>
        <div>{{ tournament.player2 }}</div>
      </div>
      <div class="children">
        <app-bracket *ngIf="tournament.leftChild" [tournament]="tournament.leftChild"></app-bracket>
        <app-bracket *ngIf="tournament.rightChild" [tournament]="tournament.rightChild"></app-bracket>
      </div>
    </div>
    <div *ngIf="tournament.leftChild || tournament.rightChild" class="connector"></div>
  </ng-container> -->
</div>
