<footer style="padding: 4.375rem 0; background-color: var(--secondary); color: white; text-align: center;">
    <div style="display: flex; justify-content: center; height: 200px; gap: 5rem;">
        <div style="display: flex; flex-direction: column; text-align: left; gap: 1rem;">
            <strong style="font-size: 1.4rem; margin: 0;">Cuenta</strong>
            <p style="margin: 0;">Inicia Sesion</p>
            <p style="margin: 0;">Registrate</p>
        </div>
        <div style="display: flex; flex-direction: column; text-align: left; gap: 1rem;">
            <strong style="font-size: 1.4rem;">Partidos</strong>
            <p style="margin: 0;">Inscripciones</p>
            <p style="margin: 0;">Tabla de Posiciones</p>
            <p style="margin: 0;">Brackets</p>
        </div>
        <div style="display: flex; flex-direction: column; text-align: left; gap: 1rem;">
            <strong style="font-size: 1.4rem;">Contactanos</strong>
            <p style="margin: 0;"><fa-icon [icon]="faWhatsapp"></fa-icon> +57 3005161540</p>
            <p style="margin: 0;"><fa-icon [icon]="faLocationDot"></fa-icon> Barranquilla Coliseo Sugar Baby Rojas</p>
            <p style="margin: 0;"><fa-icon [icon]="faLocationDot"></fa-icon> Soledad Cra 21A # 81A- 75 B - Los Almendros</p>
        </div>
        <div style="display: flex; flex-direction: column; text-align: left; gap: 1rem;">
            <strong style="font-size: 1.4rem;">Siguenos</strong>
            <div style="display: flex; gap: 1rem; font-size: 1.5rem;">
                <fa-icon [icon]="faFacebook"></fa-icon>
                <fa-icon [icon]="faInstagram"></fa-icon>
                <fa-icon [icon]="faTwitter"></fa-icon>
            </div>
        </div>
    </div>
    Copyright © {{age}} Todos los derechos reservados | <strong style="font-family: Mariott;">Club Sunbae.</strong>
</footer>